img { left: 900px;
  border: 3px solid black;
}
body {
  background-image: url("img/background.jpg");
}
h1 {color: white; font-size: 200px; -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;}

h2 {color: white; font-size: 35px; -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;}
